---
const formAction = "https://submit-form.com/AEiNyPGbD"; // Replace with your Formspree action URL
const botPoisonPublicKey = "pk_a002cc6d-3ff5-4855-a0ac-15c0ea5d2b67"
---
<section class="space-y-6">
  <h2 class="text-2xl font-bold text-center">Get in Touch</h2>
  <script src="https://unpkg.com/@botpoison/browser" async></script>
  <form action={formAction} method="POST" data-botpoison-public-key={botPoisonPublicKey} class="space-y-4">
    <div class="form-group">
      <label for="email" class="block text-sm font-medium text-gray-700">
        Your Email:
      </label>
      <input
        type="email"
        id="email"
        name="email"
        required
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
      />
    </div>

    <div class="form-group">
      <label for="message" class="block text-sm font-medium text-gray-700">
        Your Message:
      </label>
      <textarea
        id="message"
        name="message"
        rows="4"
        required
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
      ></textarea>
    </div>

    <button
      type="submit"
      class="w-full py-2 px-4 text-sm font-medium text-white bg-blue-600 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
    >
      Send
    </button>
  </form>
</section>
